{% extends "base.html.twig" %}
{% block body %}
    <h1>Chat El-Gato</h1>
    <input type="text" name="msg" id="msg"></input>
    <input type="submit" name="envoyer" id="envoyer"></input>
{% endblock %}

{% block chatclient %}
    {% if app.user %}
        <script>
            var email = '{{ app.user.email }}';
            var token = '{{ app.user.token }}';
        </script>
        <script src="/js/chat.js"></script>
    {% endif %}
{% endblock %}
