{% extends "base.html.twig" %}
{% block body %}
    <h1>Chat El-Gato</h1>
{% endblock %}

{% block chatclient %}
    <script>
        var data = new Object();
        {% if app.user %}
            data.email = '{{ app.user.email }}';
            data.token = '{{ app.user.token }}';
            data.to = 'test@gmail.com';
        {% endif %}
        data.message = 'Mon message top secret';
        data = JSON.stringify(data);        
        var conn = new WebSocket('ws://127.0.0.1:8080');
        conn.onmessage = function(e) { console.log(e.data); };
        conn.onopen = function(e) { conn.send(data); };
    </script>
{% endblock %}
